#root {
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 0rem;
  text-align: inherit;
}
.loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}